<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= form_with(model: technology, local: true) do |form| %>
        <% if technology.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(technology.errors.count, "error") %> prohibited this technology from being saved:</h2>

            <ul>
            <% technology.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :name %>
          <%= form.text_field :name, id: :technology_name, class: "form-control"%>
        </div><br />

        <div class="actions">
        <% if params[:id].nil? %>
          <%= form.submit "Add Technology", class: "btn btn-primary" %>
          <% else %>
          <%= form.submit "Update Technology", class: "btn btn-primary" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>