<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form_with(model: location, local: true) do |form| %>
          <% if location.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

              <ul>
              <% location.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= form.label :name %>
            <%= form.text_field :name, id: :location_name, class:"form-control" %>
          </div>
          <br />

          <div class="actions">
            <% if params[:id].nil? %>
            <%= form.submit "Add Location", class: "btn btn-primary" %>
            <% else %>
            <%= form.submit "Update Location", class: "btn btn-primary" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>    
  </div>
</div>